extends layout
block content
	h1= message
	div(class="buttonHolder") 
		form(class='form-inline' method="post", action="/home")
			button(class='btn btn-success' type='submit') BACK
	br
	img(src="/Images/404MainstageImage.jpg")
	