html, body, #wrapper {
	width:100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color:#787878;
   }
   #wrapper {
      margin: 0 auto;
      text-align: left;
      vertical-align: middle;
   }
   .tablemenubackground
   {
	BACKGROUND-POSITION: center center; 
	BACKGROUND-IMAGE: url(../../App_Themes/Basic/Images/BTSmenu.png); 
	BACKGROUND-REPEAT: no-repeat; 
	HEIGHT: 50px
   }
   .tablelinebackground
   {
   	height: 3px; 
   	background-color: #660000
   }
   .tablesearchbackground
   {
   	font-size: 7pt; 
   	background-image: url(../../App_Themes/Basic/Images/menuButton.gif); 
   	color: gray; 
   	font-family: Tahoma; 
   	height: 80px
   }
   .tablerecorddisplaytext
   {
   	font-size: 7pt;
   	color: white; 
   	font-family: Tahoma;
   }
   .tablemaintdisplay
   {
   	font-weight: bold; 
   	font-size: 11pt; 
   	color: white;
    font-family: Candara; 
    height: 18px; 
    background-color: #660000
   }
   .tablemaintinfodisplay
   {
   	border-right: #330000 1px solid; 
   	border-top: #330000 1px solid;
    font-weight: bold; 
    font-size: 8pt; 
    border-left: #330000 1px solid; 
    color: white; 
    border-bottom: #330000 1px solid; 
    font-family: Tahoma;
	background-color : #cc3333
   }
   .tablesearcharea
   {
   	color: #990000; 
   	height: 40px; 
   	background-color: #ffffff
   }
 